{% extends "index.html" %}

{% block content %}
    <main>
        {% if entry %}
            {% if edit_entry %}
                <form method="post" class="main_form" action="/blog/{{entry.key().id()}}/edit">
                    <h2 class="form_edit_header">Edit Entry</h2>
                    <div class="container">
                        <div class="container_header">
                            <div class="error">
                                {% if entry_invalid %}
                                    <span>Both Subject and content are required.</span>
                                {% endif %}
                            </div>
                            <label>
                                <span>Subject</span>
                                <input type="text" name="subject" value="{{entry.subject}}"/>
                            </label>
                            <span class="author">{{entry.user.username}}</span>
                            <span class="created">{{entry.created.strftime("%B %d, %Y")}}</span>
                        </div>
                        <label>
                            <span>Content</span>
                            <textarea name="content">{{entry.content}}</textarea>
                        </label>
                        <div class="container_footer">
                            <input type="submit" value="save"/>
                            <div class="lone_button warn">
                                <a href="/blog/{{entry.key().id()}}">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
                <form method="post" class="main_form" action="/blog/{{entry.key().id()}}/delete">
                    <input type="submit" class="danger" value="delete"/>
                </form>
            {% else %}
                <form method="post" class="entry_form" action="/blog/{{entry.key().id()}}/like">
                    <div class="container">
                        <div class="container_header">
                            <h2>{{entry.subject}}</h2>
                            <span class="author">{{entry.user.username}}</span>
                            <span class="created">{{entry.created.strftime("%B %d, %Y")}}</span>
                        </div>
                        <pre class="container_content">{{entry.content}}</pre>
                        <div class="container_footer">
                            {% if entry.user.key().id() != current_user.key().id() %}
                                {% if current_user.key() in entry.liked_by %}
                                    <input class="like_button liked" type="image" value="Unlike"/>
                                {% else %}
                                    <input class="like_button" type="image" value="Like"/>
                                {% endif %}
                            {% else %}
                                <input class="like_button" type="image" disabled="true" value="Like"/>
                            {% endif %}
                            {% if (entry.liked_by|length) > 0 %}
                                <span>{{entry.liked_by|length}}</span>
                            {% endif %}
                            <div class="simple_button">
                                <a href="/blog/{{entry.key().id()}}/edit">edit</a>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
            <div class="comments">
                <h3>Comments</h3>
                {% for comment in entry_comments %}
                    {% if edit_comment and (comment.key().id() == comment_id) %}
                        <form method="post" class="main_form" action="/blog/{{entry.key().id()}}/comments/{{comment.key().id()}}">
                            <div class="container">
                                <div class="container_header">
                                    <div class="error">
                                        {% if comment_invalid %}
                                            <span>Comment invalid.</span>
                                        {% endif %}
                                    </div>
                                    <span class="author">{{comment.user.username}}</span>
                                    <span class="created">{{comment.created.strftime("%B %d, %Y")}}</span>
                                </div>
                                <label class="container_content">
                                    <textarea name="comment_content">{{comment.content}}</textarea>
                                </label>
                                {% if current_user.key().id() == comment.user.key().id() %}
                                    <div class="container_footer">
                                        <input type="image" value="Save"/>
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                        <form method="post" class="main_form" action="/blog/{{entry.key().id()}}/comments/{{comment.key().id()}}/delete">
                            <input type="submit" class="danger" value="delete"/>
                        </form>
                    {% else %}
                        <form class="main_form" action="/blog/{{entry.key().id()}}/comments/{{comment.key().id()}}">
                            <div class="container">
                                <div class="container_header">
                                    <span class="author">{{comment.user.username}}</span>
                                    <span class="created">{{comment.created.strftime("%B %d, %Y")}}</span>
                                </div>
                                <pre class="container_content">{{comment.content}}</pre>
                                {% if current_user.key().id() == comment.user.key().id() %}
                                    <div class="container_footer">
                                        <input type="image" value="Edit"/>
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
            {% if not (edit_comment or edit_entry) and current_user %}
                <form method="post" class="main_form" action="/blog/{{entry.key().id()}}">
                    <div class="error">
                        {% if new_comment_invalid %}
                            <span>A comment is required to submit a comment.</span>
                        {% endif %}
                    </div>
                    <label>
                        <textarea name="new_comment_content" placeholder="Add a comment"></textarea>
                    </label>
                    <input type="submit" value="Submit"/>
                </form>
            {% endif %}
        {% else %}
            <div class="block_message">
                <span>Post Not Found</span>
            </div>
        {% endif %}
    </main>
{% endblock %}
