{% extends "index.html" %}

{% block content %}
    <main>
        {% if entry %}
            <form method="post"
                {% if edit_entry %}
                    class="main_form"
                {% else %}
                    class="entry_form"
                {% endif %}
            >
                {% if edit_entry %}
                    <h2 class="form_edit_header">Edit Entry</h2>
                {% endif %}
                <div class="container">
                    <div class="container_header">
                        {% if current_user.key().id() == entry.user.key().id() and edit_entry %}
                            <div class="error">
                                {% if entry_invalid %}
                                    <span>Both Subject and content are required.</span>
                                {% endif %}
                            </div>
                            <label>
                                <span>Subject</span>
                                <input type="text" name="subject" value="{{entry.subject}}"/>
                            </label>
                        {% else %}
                            <h2>{{entry.subject}}</h2>
                        {% endif %}
                        <span class="author">{{entry.user.username}}</span>
                        <span class="created">{{entry.created.strftime("%B %d, %Y")}}</span>
                    </div>
                    {% if current_user.key().id() == entry.user.key().id() and edit_entry %}
                        <label>
                            <span>Content</span>
                            <textarea name="content">{{entry.content}}</textarea>
                        </label>
                    {% else %}
                        <pre class="container_content">{{entry.content}}</pre>
                    {% endif %}
                    <div class="container_footer">
                        {% if not edit_entry %}
                            {% if entry.user.key().id() != current_user.key().id() %}
                                {% if current_user.key() in entry.liked_by %}
                                    <input class="like_button liked" name="like_entry" type="image" value="Unlike"/>
                                {% else %}
                                    <input class="like_button" name="like_entry" type="image" value="Like"/>
                                {% endif %}
                            {% else %}
                                <input class="like_button" type="image" disabled="true" value="Like"/>
                            {% endif %}
                            {% if (entry.liked_by|length) > 0 %}
                                <span>{{entry.liked_by|length}}</span>
                            {% endif %}
                        {% endif %}
                        {% if current_user.key().id() == entry.user.key().id() %}
                            {% if edit_entry %}
                                <input type="image" name="save" value="Save" />
                                <input type="image" name="delete" value="Delete" />
                            {% else %}
                                <input type="image" name="edit" value="Edit"/>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </form>
                <div class="comments">
                    <h3>Comments</h3>
                    {% for comment in entry_comments %}
                        <form method="post" class="main_form">
                            <div class="container">
                                <div class="container_header">
                                    <div class="error">
                                        {% if comment_invalid %}
                                            <span>Comment invalid.</span>
                                        {% endif %}
                                    </div>
                                    <span class="author">{{comment.user.username}}</span>
                                    <span class="created">{{comment.created.strftime("%B %d, %Y")}}</span>
                                </div>
                                {% if edit_comment and (comment.key().id() == comment_id) %}
                                    <label class="container_content">
                                        <textarea name="comment_content">{{comment.content}}</textarea>
                                    </label>
                                {% else %}
                                    <pre class="container_content">{{comment.content}}</pre>
                                {% endif %}
                                {% if current_user.key().id() == comment.user.key().id() %}
                                    <div class="container_footer">
                                        {% if not edit_entry %}
                                            {% if edit_comment and (comment.key().id() == comment_id) %}
                                                <input type="image" name="save_comment" value="Save"/>
                                                <input type="image" name="delete_comment" value="Delete"/>
                                            {% else %}
                                                <input type="image" name="edit_comment" value="Edit"/>
                                            {% endif %}
                                        {% endif %}
                                        <input type="hidden" name="comment_id" value="{{comment.key().id()}}"/>
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    {% endfor %}
                </div>
                {% if not (edit_comment or edit_entry) and current_user %}
                    <form method="post" class="main_form">
                        <div class="error">
                            {% if new_comment_invalid %}
                                <span>A comment is required to submit a comment.</span>
                            {% endif %}
                        </div>
                        <label>
                            <textarea name="new_comment_content" placeholder="Add a comment"></textarea>
                        </label>
                        <input type="submit" name="add_comment" value="Submit"/>
                    </form>
                {% endif %}
        {% else %}
            <div class="block_message">
                <span>Post Not Found</span>
            </div>
        {% endif %}
    </main>
{% endblock %}
