{% extends "index.html" %}

{% block content %}
    <main>
        <form method="post" class="main_form">
            <h2>New Post</h2>
            <div class="error">
                {% if invalid %}
                    <span>Both Subject and content are required.</span>
                {% endif %}
            </div>
            <label>
                <span>Subject</span>
                <input type="text" name="subject" value="{{subject}}" />
            </label>
            <label>
                <span>Content</span>
                <textarea name="content">{{content}}</textarea>
            </label>
            <input type="submit"/>
        </form>
    </main>
{% endblock %}
